# ======================
# OS / System
# ======================
.DS_Store

# ======================
# Java / Maven
# ======================
**/target/
**/out/
*.class

# ======================
# IDEs
# ======================
.idea/
.vscode/
*.iml

# ======================
# Logs
# ======================
*.log
logs/

# ======================
# Environment / Secrets
# ======================
.env
*.env
application-local.yml
application-local.properties

# ======================
# Python / ML
# ======================
__pycache__/
*.pyc
.venv/
venv/

# ======================
# Docker
# ======================
**/.dockerignore

# ======================
# Temporary
# ======================
tmp/

