GATEWAY_PORT=

MAX_HTTP_REQUEST_HEADER_SIZE=

SPRING_APPLICATION_NAME=

MAX_IN_MEMORY_SIZE=

REDIS_HOST=
REDIS_PORT=

KEYCLOAK_ISSUER_URI=
KEYCLOAK_URI=

GATEWAY_CONNECT_TIMEOUT=
GATEWAY_RESPONSE_TIMEOUT=

AUTH_RATE_LIMIT_REPLENISH=
AUTH_RATE_LIMIT_BURST=

USER_SERVICE_URI=
USER_RATE_LIMIT_REPLENISH=
USER_RATE_LIMIT_BURST=
USER_RETRY_COUNT=
USER_RETRY_FIRST_BACKOFF=
USER_RETRY_MAX_BACKOFF=
USER_RETRY_FACTOR=

TRANSACTION_SERVICE_URI=
TRANSACTION_RATE_LIMIT_REPLENISH=
TRANSACTION_RATE_LIMIT_BURST=
TRANSACTION_RETRY_COUNT=
TRANSACTION_RETRY_FIRST_BACKOFF=
TRANSACTION_RETRY_MAX_BACKOFF=
TRANSACTION_RETRY_FACTOR=

NOTIFICATION_SERVICE_URI=

OBSERVABILITY_SERVICE_URI=

RISK_SERVICE_URI=
RISK_RATE_LIMIT_REPLENISH=
RISK_RATE_LIMIT_BURST=
RISK_RETRY_COUNT=
RISK_RETRY_FIRST_BACKOFF=
RISK_RETRY_MAX_BACKOFF=
RISK_RETRY_FACTOR=

LOG_PATTERN=

CB_TIMEOUT_DURATION=
CB_SLIDING_WINDOW_SIZE=
CB_MINIMUM_CALLS=
CB_FAILURE_RATE_THRESHOLD=
CB_WAIT_DURATION_OPEN=
CB_HALF_OPEN_CALLS=